ul {
  margin: 0;
 padding: 7px 11px;
}
li {
  float: left;
   margin: 5px 2px 5px 0px;
  list-style-type: none;
}

a {
	 display: block;
    min-height: 100%;
    padding: 4px 10px;
}
.nav {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.nav li {
  display: table-cell;
  width: 24%;
  padding-right: 1px;
  background-color: rgb(200,200,200);
  height: auto;
  vertical-align: bottom;
}

#mainContent {
	border:1px solid #000;
}

#shipTabs li {
	width: 49%;
}
